<div class="box">
    <p> Make a donation here</p>
</div><form action="/placemarkers" method="POST">
    <div class="field">
        <label class="label">Enter Latitude</label> <input class="input" type="number" placeholder="Latitude" name="latitude">
        <label class="label">Enter Longitude</label> <input class="input" type="number" placeholder="Longitude" name="longitude">
    </div>
    <div class="field">
        <div class="control">
            <input class="radio" type="radio" name="religion" value="Catholic Church"> Catholic Church
            <input class="radio" type="radio" name="religion" value="Church Of Ireland "> Church of Ireland
            <input class="radio" type="radio" name="religion" value="Islam"> Islam
            <input class="radio" type="radio" name="religion" value="Other"> Other
        </div>
    </div>
    <div class="field">
        <div class="select">
            <select name="counties">
                {{#each counties}}
                    <option> {{name}}</option>
                {{/each}}
            </select>
        </div>
    </div>
    <div class="field">
        <div class="control">
            <button class="button is-link is-light">Placemarker</button>
        </div>
    </div>
</form>