<div class="columns is-vcentered">
    <div class="column is-two-thirds">
        {{> TitleBar title="Church Placemarkers!" subTitle="Donate Today!"}}
    </div>
    <div class="column">
        {{> MainNavigator }}
    </div>
</div>

<div class="columns">
    <div class="column has-text-centered">
        <img width="400" src="images/church3.jpg"/>
    </div>
    <div class="column box has-text-centered">
        <h1 class="title is-4">Please enter the church details you visited!</h1>
        {{> PlacemarkersForm }}
    </div>
</div>