<div class="columns is-vcentered">
    <div class="column is-two-thirds">
        {{> TitleBar title="Church Placemarkers!" subTitle="Latest Donations"}}
    </div>
    <div class="column">
        {{> MainNavigator }}
    </div>
</div>

<div class="columns">
    <div class="column has-text-centered">
        <img width="400" src="images/church4.jpg">
    </div>
    <div class="column box has-text-centered">
        <h1 class="title is-4">Donations to date</h1>
        {{> PlacemarkersList }}
    </div>
</div>